
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslategray;
}

body header {
    background-color: #007bff;
}

.color-tile {
    width: 200px;
    height: 200px;
    border-radius: 15%;
    margin: 10px;
}
